{% extends "base.html" %}

{% block title %} Chat {% endblock %}

{% block content %}
<h3>Chat with User {{ user.username }}</h3>
<!--chat box-->
<div id="chatbox"></div>

<div class="input-group mt-3">
    <input type="text" id="message-input" class="form-control" placeholder="Type your message...">
    <button class="btn btn-primary" onclick="sendMessage({{ user.id }})">Send</button>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('messages.static'),filename='chat.js' }}"></script>
<script>
    const CURRENT_USER_ID = {{ current_user.id }};
</script>
{% endblock %}
