{% extends "base.html" %}

{% block title %}Second Loop -Home {% endblock %}

{% block content %}
<div class="text-center">
    <h1>Welcome to transaction home</h1>
    <p class="lead">MMU second-hand trading platform</p>
    
    <div class="d-grid gap-2 d-md-block">
        <a href="{{ url_for('transaction.home') }}" class="btn btn-primary me-2">Go to transaction system</a>
        <a href="{{ url_for('payment.index') }}" class="btn btn-success me-2">Payment System</a>
        <a href="{{ url_for('review.index') }}" class="btn btn-warning">Review & Rating</a>
    </div>
</div>
{% endblock %}