<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Second Loop</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='usersystemstyle.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="msg {{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="wrapper">
    <form action="{{ url_for('login')}}" method="POST">
      <h1>Login</h1>

      {% if request.args.get('msg') %}
        <p style="color: black; font-weight: 30%;">{{ request.args.get('msg')}} </p>
      {% endif %}
      
      <div class="input-box">
        <input type="email" name="email" placeholder="student email" required>
        <i class='bx bx-envelope'></i>
      </div>
      <div class="input-box">
        <input type="password" name="password" placeholder="password" required>
        <i class='bx bxs-lock-alt' ></i>
      </div>
      <div class="remember-forgot">
        <label><input type="checkbox">Remember me</label>
        <a href="changepassword.html">Forgot password?</a>
      </div>
      <button type="submit" class="btn">Login</button>

      <div class="register-link">
        <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a>
      </div>

    </form>
  </div>
  <script>
  setTimeout(() => {
    document.querySelectorAll('.msg').forEach(msg => {
      msg.style.transition = "opacity 0.5s ease";
      msg.style.opacity = "0";
      setTimeout(() => msg.remove(), 500);
    });
  }, 3000); // hides after 3 seconds
</script>
</body>
</html>