<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Second Loop</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='usersystemstyle.css') }}">
</head>

<body>


   <div class="sidebar">

    <a  class="active" href="profile.html">Profile</a>
    <a href="payment.html">Payment</a>
    <a href="setting.html">Setting</a>
    <a href="login.html">Log out</a>
   </div>

<!-- Profile photo -->
   <div class="profilecard">
    <div class="photo">
        <img src="{{ url_for('static', filename='uploads/' + user.profile_pic) }}" id="photo">
       <form action="/upload_photo" method="post" enctype="multipart/form-data">
  <!-- hidden file input -->
  <input type="file" id="fileInput" name="file" accept="image/*" style="display:none;">
  
  <!-- custom button (this triggers file input) -->
  <label for="fileInput" class="upload-btn">Choose Photo</label>
  
  <!-- upload button -->
  <button type="submit">Upload</button>
</form>

<!-- current profile photo -->
<img id="profilePic" src="{{ url_for('static', filename='uploads/' ~ user.profile_image) }}" alt="Profile Picture">
      </form>
    </div>
      <h2>{{ user.name }}</h2>
      <p>{{ user.email }}</p>
   </div>


   

</body>
