{% extends "base.html" %}

{% block title %}My transaction {% endblock %}

{% block content %}
<h1 class="mb-4 text-center">Welcome to my transaction</h1> 

<!--bought product-->
<h3>Bought Transactions</h3>
{% if bought_transactions %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Product</th>
                <th>Status</th>
                <th>Action</th>
                <th>Contact</th>
            </tr>
        </thead>
        <tbody>
        {% for t in bought_transactions %}
            <tr>
                <td>{{ t.id }}</td>
                <td>{{ t.product_id }}</td>
                <td>{{ t.status }}</td>
                <td>
                    {% if t.status == "pending" %}
                        <form action = "{{ url_for('transaction.cancel_transaction', transaction_id=t.id) }}" method="POST">
                            <button type ="submit" class="btn btn-danger btn-sm">Cancel</button>
                        </form>
                    {% elif t.status == "shipped" %}
                        <form action = "{{ url_for('transaction.confirm_receipt', transaction_id=t.id) }}" method="POST">
                            <button type ="submit" class="btn btn-danger btn-sm">Confirm</button>
                    {% elif t.status == "completed" %}
                        <span class="badge bg-success">Completed</span>
                    {% endif %}
                </td>
                <td>
                    <!--contact seller-->
                    <a href="{{ url_for('messages.chat', user_id = t.seller_id) }}" class="btn btn-primary btn-sm">
                        Contact Seller
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>You haven't bought anything yet.</p>
{% endif %}

<hr>

<!--sold product-->
<h3>Sold Transactions</h3>
{% if sold_transactions %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Product</th>
                <th>Status</th>
                <th>Contact</th>
            </tr>
        </thead>
        <tbody>
        {% for tx in sold_transactions %}
            <tr>
                <td>{{ tx.id }}</td>
                <td>{{ tx.product_id }}</td>
                <td>{{ tx.status }}</td>
                <td>
                    {% if tx.status == "accepted" %}
                    <form action="{{ url_for('transaction.ship_transaction',transaction_id=tx.id) }}" method="POST">
                        <button type="submit" class="btn btn-warning btn-sm">Ship</button>
                    </form>
                    {% elif tx.status == "shipped" %}
                        <span class="badge bg-info">Waiting for buyer confirmation</span>
                    {% elif tx.status == "completed" %}
                        <span class="badge bg-success">Completed</span>
                    {% endif %}
                </td>
                <td>
                    <!--contact buyer-->
                    <a href="{{ url_for('messages.chat', user_id = tx.buyer_id) }}" class="btn btn-primary btn-sm">
                        Contact Buyer
                    </a>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>You haven't sold anything yet.</p>
{% endif %}


{% endblock %}
